body {
  background-color: black;
  /*margin-top: 100px;*/
  overflow: hidden;
}

.holder {
  width: 1280px;
  margin: 6% auto 0; 
}

.holder.pge-index {
  margin: 0 auto;
}

.container {
  position:relative;
  width:320px;
  height:240px;
  float: left;
}


.overlayText a {
  position:absolute;
  color: #cccccc;
  top: 0px;
  left:0px;
  opacity: 0;
}

/*.overlayText a {
  display: block;
}*/

.kangaroo {

}

li{
  font:bold 14px helvetica;
  list-style: none;

}


.overlayText a {
  text-decoration:none;
  color: #cccccc;
  font-size: 50px;
  font-family: helvetica;
  font-weight: bold;
  cursor: pointer;
}

.stroke {
  -webkit-text-stroke:2px black;

}

.overlayText a:hover {
  color: red;
}


.newSize {
  width: 1024px;
  height: 768px;
  margin: 0 auto;
  float: none;
}

.close {
  position: absolute;
  top: 0;
  z-index: 999;
  right: 20px;
}


.close a {
  font-size: 100px;
  color: red;
  text-decoration: none;
  line-height: 1;
}


