    .container {
		  position:relative;
	      width:640px;
	      height:320px;
		  margin:0 auto
		}

    .overlayText {
      position:absolute;
      color: #cccccc;
      top:40px;
      left:0px;

    }
	li{
      font:bold 14px helvetica;
      list-style: none;


      }
   	
   	a {
      text-decoration:none;
      color: #cccccc;
    }

    a:hover {
      color: red;
    }
