.container {
  position:relative;
  width:320px;
  height:240px;
  float: left;
}

.overlayText {
  position:absolute;
  color: #cccccc;
  top: 40px;
  left:0px;

}

/*.overlayText a {
  display: block;
}*/

.kangaroo {

}

li{
  font:bold 14px helvetica;
  list-style: none;


}

a {
  text-decoration:none;
  color: #cccccc;
}

a:hover {
  color: red;
}
