.container {
  position:relative;
  width:320px;
  height:240px;
  float: left;
}


.overlayText a {
  position:absolute;
  color: #cccccc;
  top: 0px;
  left:0px;
  visibility:hidden;
}

/*.overlayText a {
  display: block;
}*/

.kangaroo {

}

li{
  font:bold 14px helvetica;
  list-style: none;


}


.overlayText a {
  text-decoration:none;
  color: #cccccc;
}

.overlayText a:hover {
  color: red;
}

.newSize {
  width: 640px;
  height: 480px;
  margin: 0 auto;
  float: none;
}

.close {
  position: absolute;
  top: 0;
  z-index: 999;
  right: 20px;
}


.close a {
  font-size: 100px;
  color: red;
  text-decoration: none;
  line-height: 1;
}

